<!-- <nav>
  <ul class="hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav fixed">
      <li class="bold"><a href="#!" class="waves-effect waves-teal">First Sidebar Link</a></li>
      <li class="bold"><a href="#!" class="">Second Sidebar Link</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav> -->
<div class="menutabitem">  
  <a href="#" data-activates="slide-out" class="button-collapse sidemenu"><i class="material-icons">view_headline</i></a> 
</div>
<ul id="slide-out" class="side-nav frwidth">
    <li><div class="userView">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/casimg.jpg"></a>
      <a href="#!name"><span class="white-text name">Mohamed Ismail Buhari</span></a>
      <a href="#!email"><span class="white-text email">Javascript Programmer</span></a>
    </div></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Resume</a></li>
    <li><a href="https://github.com/BUHARIMOHAMEDISMAIL">Github</a></li>
    <li><a href="https://www.linkedin.com/in/mohamed-ismail-161156a8?trk=nav_responsive_tab_profile_pic">Linkedin</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="http://stackoverflow.com/users/6729268/mohamed-ismail?tab=profile">Stack Overflow</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
<!--   <a href="#" data-activates="slide-out" class="button-collapse sidemenu"><i class="material-icons">menu</i></a>
 -->

      <div class="row wbst-row">
        <div class="col s12 m4 l3 left-cont">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image cst-card-img">
                  <img src="images/casimg.jpg">
                  <span class="card-title">Mohamed Ismail Buhari</span>
                </div>
                <div class="card-content">
                  <h6>Javascript Programmer</h6>
                  <p>Trivandrum, Kerala</p>
                </div>
                <div class="card-action">
                  <a href="#">Home</a>
                </div>
                <div class="card-action">
                  <a href="#">Resume</a>
                </div>
                <div class="card-action">
                  <a href="https://github.com/BUHARIMOHAMEDISMAIL">Github</a>
                </div>
                <div class="card-action">
                  <a href="https://www.linkedin.com/in/mohamed-ismail-161156a8?trk=nav_responsive_tab_profile_pic">Linkedin</a>
                </div>
                <div class="card-action">
                  <a href="#">Twitter</a>
                </div>
                <div class="card-action">
                  <a href="http://stackoverflow.com/users/6729268/mohamed-ismail?tab=profile">Stack Overflow</a>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="col s12 m8 l9 right-post-cont">
          <div class="row" ng-repeat="pst in post">
            <div class="col s12 m12">
              <div class="card cst-card">
                <div class="card-content white-text">
                  <span class="card-title">{{pst.title}}</span>
                  <p>{{pst.details}}</p>
                </div>
                <div class="card-action">
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>
<!--           <div class="row">
            <div class="col s12 m10">
              <div class="card cst-card">
                <div class="card-content white-text">
                  <span class="card-title">Card Title2</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>