 <div class="row website-signin-row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" ng-model="signin.email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" ng-model="signin.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="col s10 offset-s1 center-align">
        <button class="btn waves-effect waves-light" type="submit" ng-click="submit(signin)" name="action">Submit</button>
      </div>
    </form>
  </div>
        